.bs-docs-grid{style: 'text-align: center; vertical-align: middle;'}
  .row-fluid
    = image_tag('cube-splash.jpg', alt: 'cube_splash', alt_text: 'cube_splash')
  .row-fluid
    %h3
      Welcome To Cube
