development:
  cube:
    email_domain: 'mydomain.com'
    maintainer_email: 'cube@mydomain.com'
    maintainer_email_title: 'Email Cube Support'
    maintainer_url: 'https://cube.support.site'
    maintainer_url_title: 'Cube Tracker'
    ssl_enabled: false
  mailer:
    host: 'localhost:3000'
    default_options:
      from: cube@mydomain.com
      reply_to: cube@mydomain.com
      bcc: cube@mydomain.com
  omniauth:
    title: 'cube LDAP Login'
    host: 'mydomain.com'
    port: 3268
    method: 'plain'
    base: 'dc=example,dc=com'
    uid: 'sAMAccountName'
    bind_dn: 'your_user@mydomain.com'
    password: 'secret_password'
    auth_method: 'simple'
    ldap_group: 'CN=cube Security Group,OU=Users,DC=example,DC=com'
test:
  cube:
    email_domain: 'mydomain.com'
    maintainer_email: 'cube@mydomain.com'
    maintainer_email_title: 'Email Cube Support'
    maintainer_url: 'https://cube.support.site'
    maintainer_url_title: 'Cube Tracker'
    ssl_enabled: false
  mailer:
    host: 'mydomain.com'
    default_options:
      from: cube@mydomain.com
      reply_to: cube@mydomain.com
      bcc: cube@mydomain.com
  omniauth:
    title: 'cube LDAP Login'
    host: 'mydomain.com'
    port: 3268
    method: 'plain'
    base: 'dc=example,dc=com'
    uid: 'sAMAccountName'
    bind_dn: 'your_user@mydomain.com'
    password: 'secret_password'
    auth_method: 'simple'
    ldap_group: 'CN=Cube Security Group,OU=Users,DC=example,DC=com'
