# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: afd2a51c9c18cdc95464abab85089740adce1640d693fec78af06bc8ac4ba67b5906a61fe8e3e858e76790ddf05ae9b9942ae4da90fce90f3d63b5ffe6f5a432

test:
  secret_key_base: 0f472d9c1e4c69c15e72b0f8bd12fb7d59d9238c0524426290dd3921d4fc9be6811e6ada1480699f4f6188051381bda09454354fbc174b7c4b186685679a82ba

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 346bd3d06b155b81b97ea110230f2fcdb80d92143b1160fd425f5e29c42f70048418174f632b38cfd83865eab1e502dd140324e622b3f73e81a215bedb39e688
